/* Former imageset */
span.imageset {
	display: inline-block !important;
	background: transparent none 0 0 no-repeat;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}

/* Extension imageset items */
.event_block_arrow {
	background-image: url('images/event_block_arrow.gif');
	padding-left: 12px;
	margin-left:90%;
}
.event_block_bar {
	background-image: url('images/event_block_bar.gif');
	padding-left: 100%;
}
.event_block_end {
	background-image: url('images/event_block_end.gif');
	padding-left: 12px;
}
.imageset.icon-calendar {
	background-image: url("images/icon_calendar.gif");
	padding-left: 18px;
	padding-top: 15px;
	vertical-align: middle;
}
.icon-calendar {
	background-image: url('images/icon_calendar.gif');
}
.icon-mini-calendar {
	background-image: url('images/icon_mini_calendar.gif');
	padding-left: 16px;
}
.icon_double_left_arrow {
	background-image: url('images/icon_double_left_arrow.gif');
	padding-left: 20px;
	padding-top: 19px;
}
.icon_double_right_arrow {
	background-image: url('images/icon_double_right_arrow.gif');
	padding-left: 20px;
	padding-top: 19px;
}
.icon_left_arrow {
	background-image: url('images/icon_left_arrow.gif');
	padding-left: 20px;
	padding-top: 19px;
}
.icon_right_arrow {
	background-image: url('images/icon_right_arrow.gif');
	padding-left: 20px;
	padding-top: 19px;
}
