<script type="text/javascript">
// <![CDATA[
	var save_background = '';

	function highlight_event(id, restore)
	{
		var element = document.getElementById(id);
		if (element)
		{
			if (restore)
			{
				element.style.background = save_background;
			} else
			{
				save_background = element.style.background;
				element.style.background = '#EBEBEB';
			}
		}
	}
// ]]>
</script>
	
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<div id="calendar">
			<div class="calendar">
				<ul class="topiclist">
					<li class="header"><dl><dt>
						<a href="{U_MINI_CAL_CALENDAR}" class="none">{L_MINI_CAL_CALENDAR}</a>
					</dt></dl></li>
				</ul>
				<div><form>
					<ul class="monthyear forums">
						<li class="previous"><a href="{U_PREV_MONTH}" title="{L_PREVIOUS_MONTH}"><img src="{T_THEME_PATH}/images/arrow_left.gif" alt="{L_PREVIOUS_MONTH}" /></a></li>
						<li>{S_MONTH_YEAR}</li>
						<li class="next"><a href="{U_NEXT_MONTH}" title="{L_NEXT_MONTH}"><img src="{T_THEME_PATH}/images/arrow_right.gif" alt="{L_NEXT_MONTH}" /></a></li>
					</ul>
					<ul class="dayheaders">
						<!-- BEGIN day_headers -->
						<li class="bg1"><abbr title="{day_headers.DAY_LONG}">{day_headers.DAY_SHORT}</abbr></li>
						<!-- END day_headers -->
					</ul>
					<ul class="days">
						<!-- BEGIN before_first_day -->
						<li class="notaday" />
						<!-- END before_first_day -->
						<!-- IF START_DAY_LINK -->
						<li class="notaday"><a href="{U_PREV_MONTH}" title="{L_PREVIOUS_MONTH}"><img src="{T_THEME_PATH}/images/arrow_left.gif" alt="{L_PREVIOUS_MONTH}" /></a></li>
						<!-- ENDIF -->
						<!-- BEGIN day_infos -->
						<li class="{day_infos.DAY_CLASS} row day" {day_infos.DAY_OMO}>{day_infos.DAY_INFO}</li>
						<!-- END day_infos -->
						<!-- IF END_DAY_LINK -->
						<li class="notaday"><a href="{U_NEXT_MONTH}" title="{L_NEXT_MONTH}"><img src="{T_THEME_PATH}/images/arrow_right.gif" alt="{L_NEXT_MONTH}" /></a></li>
						<!-- ENDIF -->
					</ul>
				</form></div>
			</div>
			<div id="events">
				<ul class="topiclist">
					<li class="header"><dl><dt>
						<!-- IF HAS_EVENTS -->
						{L_MINI_CAL_EVENTS}
						<!-- ELSE -->
						{L_MINI_CAL_NO_EVENTS}
						<!-- ENDIF -->
					</dt></dl></li>
				</ul>
				<!-- IF HAS_EVENTS -->
				<div>
					<ul class="events">
						<!-- BEGIN events -->
						<li class="{events.EVENT_CLASS} row navbar" id="{events.EVENT_ID}"><table><tr>
							<td class="date">{events.EVENT_DATE}</td>
							<td>{events.EVENT_URLTEXT}</td>
						</tr></table></li>
						<!-- END events -->
					</ul>
				</div>
				<!-- ENDIF -->
			</div>
		</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
